<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.dao.AddressDao">

	<resultMap type="Address" id="BaseResultMap">
		<id column="addressId" property="addressId" />
		<result column="addressName" property="addressName" />
		<result column="consignee" property="consignee" />
		<result column="phone" property="phone" />
	</resultMap>

	<resultMap type="Address" id="FullResultMap" extends="BaseResultMap">
		<association property="user" resultMap="com.shopping.dao.UserDao.BaseResultMap"/>
	</resultMap>

	<select id="getList" resultMap="BaseResultMap">
		SELECT * FROM `address` WHERE `userId` = #{userId}
	</select>

	<update id="update">
		UPDATE `address` SET `addressName` = #{address.addressName}, `consignee` = #{address.consignee}, `phone` = #{address.phone}
		WHERE `addressId` = #{address.addressId} AND `userId` = #{address.user.userId}
	</update>

	<delete id="delete">
		DELETE FROM `address` WHERE `addressId` = #{addressId} AND `userId` = #{userId}
	</delete>
  <insert id="addAddress">
	    insert into address
	    values(null,#{userId},#{addressName},#{consignee},#{phone})
	</insert>
	<delete id="delAddress">
	    delete from address
	    where addressId = #{id}
	    and userId = #{userId}
	</delete>
	<update id="editAddress">
	    update address
	    set addressName = #{addressName},consignee = #{consignee}, phone = #{phone}
	    where addressId = #{id}
	    and userId = #{userId}
	</update>
	<select id="findAddressByUser" resultMap="BaseResultMap">
	    select * from address
	    where userId = #{userId}
	</select>

	<select id="findAddressByUserAndAddressId" resultMap="BaseResultMap">
	 	 select * from address
	    where userId = #{userId}
	    and addressId = #{addressId}
	</select>
</mapper>
