<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.dao.OrderDao">

	<resultMap type="Order" id="BaseResultMap">
		<id column="orderId" property="orderId" />
		<result column="orderCreateDate" property="orderCreateDate" />
	</resultMap>

	<resultMap type="Order" id="FullResultMap" extends="BaseResultMap">
		<association property="user" resultMap="com.shopping.dao.UserDao.BaseResultMap" />
	</resultMap>
	
	<resultMap type="Order" id="SuperResultMap" extends="BaseResultMap">
		<association property="user"  resultMap="com.shopping.dao.UserDao.SuperResultMap" />
	</resultMap>
	
	<resultMap type="Order" id="SuperFullResultMap" extends="BaseResultMap">
		<association property="address"  resultMap="com.shopping.dao.AddressDao.BaseResultMap" />
		<collection property="orderItems" ofType="OrderItem" resultMap="com.shopping.dao.OrderItemDao.SuperFullResultMap" />
	</resultMap>
	
	
	<select id="findOrderByUserId" resultMap="SuperFullResultMap">
		select * from orderitem as oi
		inner join producttype as pt on oi.producttypeid = pt.producttypeid
		inner join (
		    select * from `order` as o where o.userId = #{id} 
		    ) as o on o.orderId = oi.orderId
		    <if test="orderStatus != '' and orderStatus != 'all'">
		      where oi.status = #{orderStatus}
		    </if>
		     <if test="page != null">
 		        limit #{page.startRow},#{page.pageCount}
		    </if>
	</select>
	<select id="findOrderById" resultMap="SuperFullResultMap">
	    select * from `order` as o
	    inner join orderitem as oi on o.orderId = oi.orderId
	    inner join producttype as pt on oi.producttypeid = pt.producttypeid
	    inner join address as a on a.addressId = o.addressId
	    where o.orderId = #{oId}
	</select>
	
	<insert id="createOrder">
	    insert into `order` values(#{orderId},#{address.addressId},#{user.userId},#{orderCreateDate})
	</insert>
	<delete id="delOrder">
	  	DELETE from orderitem 
	    where orderId = #{orderId};
	    DELETE from `order`
	    where orderId = #{orderId} 
	    and userId = #{userId}
	  
	</delete>
	<select id="countUserOrderTotal" resultType="java.lang.Integer">
	    select count(1) as 'count' from `order` as o1
			inner join (
			      select o.orderId as ooid
			      from orderitem as oi1
			      inner join (
			          select * from `order` as o2 where o2.userId = #{userId}
			          ) as o on o.`orderId` = oi1.`orderId`
			      <if test="status != 'all'">
			          where oi1.status = #{status}
			      </if>
			      	  group by o.orderId
    	) as oi on oi.ooid = o1.orderId;
	</select>
</mapper>