<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.dao.ProductTypeDao">

	<resultMap type="ProductType" id="BaseResultMap">
		<id column="productTypeId" property="productTypeId" />
		<result column="productTypeName" property="productTypeName" />
		<result column="price" property="price" />
		<result column="salePrice" property="salePrice" />
		<result column="restQuantity" property="restQuantity" />
		<result column="productTypeImagePath" property="productTypeImagePath" />
		<result column="productTypeCreateDate" property="productTypeCreateDate" />
	</resultMap>

	<resultMap type="ProductType" id="FullResultMap" extends="BaseResultMap">
		<association property="product" resultMap="com.shopping.dao.ProductDao.BaseResultMap" />
	</resultMap>

	<resultMap type="ProductType" id="SuperResultMap" extends="BaseResultMap">
		<association property="product" resultMap="com.shopping.dao.ProductDao.SuperResultMap" />
	</resultMap>
	<!-- 商品依赖信息 -->
	<resultMap type="ProductType" id="SuperFullResultMap"
		extends="BaseResultMap">
		<collection property="product" ofType="Product"
			resultMap="com.shopping.dao.ProductDao.BaseResultMap" />
		<collection property="productDetailImages"
			ofType="ProductDetailImage"
			resultMap="com.shopping.dao.ProductDetailImageDao.BaseResultMap" />
		<collection property="productPropertyValues"
			ofType="ProductPropertyValue"
			resultMap="com.shopping.dao.ProductPropertyValueDao.FullResultMap" />
	</resultMap>
	<select id="findByProductId" resultMap="BaseResultMap">
	    select * from producttype as p where p.productId = #{id}
	</select>
	<select id="findById" resultMap="SuperFullResultMap">
	   select * from producttype as p
		inner join productdetailimage as img on img.productId = p.productId
		inner join productpropertyvalue as pv on pv.productId = p.productId
		inner join productproperty as p2 on pv.productPropertyId = p2.productPropertyId
		inner join product p3  on p.productId = p3.productId
		where p.productTypeId = #{id}
	</select>
	<update id="setProductTypeStock">
	    update producttype set restQuantity = #{number} where productTypeId = #{id}
	</update>
</mapper>