body {
    font-size: 12px;
    font-family: Arial;
}

/* 宸ヤ綔鍖哄煙鍥哄畾瀹藉害锛岃嚜鍔ㄥ眳涓� */
.workArea {
    width: 1230px;
    margin: 0 auto;
}

/* 澶╃尗绾㈤厤鑹� */
.redColor {
    color: #FF0036;
}

/* 瓒呴摼璁剧疆涓虹伆鑹� */
a {
    color: #999;
    cursor: pointer;
}

a:hover {
    /* 鍘绘帀涓嬪垝绾� */
    text-decoration: none;
    /* 璁剧疆涓哄ぉ鐚孩 */
    color: #FF0036;
}

.boldWord{
    font-weight: bold;
}


/* 鈥斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斿垎鍓茬嚎鈥斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�� */

/* 椤堕儴瀵艰埅鏍忓浐瀹氶珮搴� */
#site-nav {
    background-color: #f2f2f2;
    height: 32px;
    /* 椤堕儴瀵艰埅鏍忎笅闈㈢殑鐏拌壊妯嚎 */
    border-bottom: 1px solid #e7e7e7;
}

#site-nav span {
    padding-left: 20px;
    line-height: 32px;
}

/* 鈥斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斿垎鍓茬嚎鈥斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�� */

.header {
    height: 130px;
}

.headerLayout {
    height: 130px;
}

.logo img {
    height: 130px;
    width: 240px;
    position: absolute;
    margin-left: -15px;
}

.mallSearch-input {
    height: 40px;
    width: 625px;
    background-color: #FF0036;
    font-size: 14px;
    margin: 0 auto;
    display: block;
    padding: 1px;
    /* 鍨傜洿灞呬腑 */
    position: relative;
    top: 35%;
}

.mallSearch-input input {
    height: 36px;
    width: 490px;
    border: none;
    margin: 1px;
    color: black;
    /* 鍘绘帀杈撳叆妗嗚疆寤擄紝鍚﹀垯鑾峰彇鐒︾偣鏃朵細鍙戠敓棰滆壊鍙樺寲 */
    outline: none;
    /* 杈规璁剧疆鎴愰�忔槑鐨勶紝鍚﹀垯浼氭湁杈规闃村奖 */
    border: 1px solid transparent;
    padding-left: 8px;
}

.mallSearch-input button {
    width: 125px;
    height: 36px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    right: 0;
    cursor: pointer;
    overflow: hidden;
    /* 杈规璁剧疆鎴愰�忔槑鐨勶紝鍚﹀垯浼氭湁杈规闃村奖 */
    border: 1px solid transparent;
    background-color: #FF0036;
    color: white;
}

.hot-query {
    height: 28px;
    font-size: 14px;
    padding: 4px 0 0;
    overflow: hidden;
    margin-left: -13px;
}

.hot-query li {
    display: inline-block;
    padding: 0 12px;
    font-size: 14px;
}

.hot-query .hot-query-li {
    border-left: 1px solid #cccccc;
    line-height: 1.1;
}

li, ul {
    /* 鍘绘帀鍓嶉潰鐨勭偣 */
    list-style: none;
}

/* 鈥斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斿垎鍓茬嚎鈥斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�� */

.main-nav {
    height: 36px;
    border-bottom: 1px solid #FF0036;
}

.category-type {
    width: 200px;
    float: left;
    height: 36px;
    background-color: #FF0036;
    color: white;
    font-size: 16px;
}

.category-type .category-type-icon {
    margin-left: 14px;
    line-height: 36px;
}

.category-type .category-type-text {
    margin-left: 8px;
    font-weight: 700;
}

.main-nav img {
    float: left;
    height: 30px;
    width: 100px;
}

.main-nav span a {
    float: left;
    padding: 0 8px;
    font-weight: 500;
    font-size: 16px;
    color: #333;
    line-height: 36px;
}

/* 鈥斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斿垎鍓茬嚎鈥斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�� */
.category-con {
    background-color: #e8e8e8;
}

#carousel-of-product {
    display: block;
    margin: 0 auto;
    position: relative;
    left: 30px;
}

/* 鈥斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斿垎鍓茬嚎鈥斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�斺�� */

